<%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js' %>
<%= javascript_include_tag 'leaflet-sidebar' %>
<%= javascript_include_tag 'home' %>

<div class="widescreen-map-container">
  <div id="map"></div>
  <span id="markers" data-markers="<%= @markers %>"></span>
</div>
